/*** BASE STYLING ***/
/* COLOR PALETTE */
/* navy blue #004489
   light-tan #E1E1D6
   dark-tan #DBDBCE
   blue-grey #D3D9DF
   light-grey #989898
   dark-grey #565656 */

/* CLEARFIX FOR FLOATS */
.clearfix::after { 
   content: "";
   display: block; 
   clear: both;
}

/* SITEWIDE DEFAULTS */
@import url(https://reset5.googlecode.com/hg/reset.min.css);
* {
  margin: 0;
  padding: 0;
}
body {
  background: #FCFCFA;
}

/*** HEADER ***/
/* DEFAULTS */
header {
  background: #004489;
  color: #D3D9DF;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
  text-align: center;
}
/* DESKTOP */
.header-logo {
  display: block;
  float: left;
  height: 50px;
  padding: 5px 20px;
}
.header-title {
  display: inline-block;
  padding: 0 100px;
  font-size: 2.5em;
  margin-left: 2em;
}
.header-nav {
  float: right;
  padding: 0 20px;
  font-size: 1.5em;
}
.header-nav li {
  display: inline;
  list-style: none;
  padding: 0 5px;
}
.header-nav a,
.header-nav a:visited,
.header-nav a:active {
  text-decoration: none;
  color: #D3D9DF;
}
.header-nav a:hover {
  text-decoration: none;
  color: #A3A9AF;
}
.header-nav > img {
  display: none;
}
/* MOBILE */
@media (max-width: 480px) {
  header {
    line-height: 1.8;
    text-align: left;
  }
  .header-logo {
    padding: 5px;
  }
  .header-title {
    display: inline-block;
    float: none;
    padding: 0 5px;
    font-size: 2em;
  }
  .header-nav {
    padding: 0;
  }
  .header-nav li {
    padding: 0;
    display: none;
    width: 100vw;
    text-align: center;
    background: #989898;
  }
  .header-nav a,
  .header-nav a:visited,
  .header-nav a:active,
  .header-nav a:hover {
    color: #004489;
  }
  .header-nav > img {
    display: inline;
    background: rgba(100,100,100,.5);
    margin: 5px;
  }
}

/*** MAIN ***/
main {
  background-color: ;
  max-width: 900px;
  margin: 30px auto;
  padding: 30px;
}